$border-comisc: 2px black dotted;
$text-shadow: 1px 1px 1px #000000;
.all_poke_container {
  border: $border-comisc;
  width: 50vw;
  height: 20vh;
  border-radius: 5%;
  background-color: azure;
  box-sizing: border-box;
  box-shadow: 1px 1px 2px 7px black;
  transition: all 1s;
}

.all_poke_container:hover {
  transform: scale(1.06);
}

.poke_avatar {
  width: 80%;
}

.water {
  color: rgb(38, 70, 168);
  text-shadow: $text-shadow;
}
.grass {
  color: rgb(5, 146, 5);
  text-shadow: $text-shadow;
}
.fire {
  color: red;
  text-shadow: $text-shadow;
}
.bug {
  color: green;
  text-shadow: $text-shadow;
}
.ground {
  color: rgb(79, 69, 13);
  text-shadow: $text-shadow;
}
.poison {
  color: #0bc741;
  text-shadow: $text-shadow;
}
.electric {
  color: #9db107;
  text-shadow: $text-shadow;
}
.normal {
  color: rgb(146, 139, 130);
  text-shadow: $text-shadow;
}
.fairy {
  color: #760ba1;
  text-shadow: $text-shadow;
}
.psychic {
  color: #640d50;
  text-shadow: $text-shadow;
}
.fighting {
  color: #0b0660;
  text-shadow: $text-shadow;
}
.rock {
  color: rgb(119, 122, 125);
  text-shadow: $text-shadow;
}
.ghost {
  color: #3d4b52;
  text-shadow: $text-shadow;
}
.ice {
  color: #046279;
  text-shadow: $text-shadow;
}
.dragon {
  color: #6c3980;
  text-shadow: $text-shadow;
}
.dark {
  color: #000000;
  text-shadow: $text-shadow;
}
.steel {
  color: #676767;
  text-shadow: $text-shadow;
}
.flying {
  color: #cfcfcf;
  text-shadow: $text-shadow;
}

.type_poke_item {
  font-size: 14px;
  line-height: 0.3;
}

.type_poke_item {
  margin-top: -10vh;
}

.poke_name {
  font-size: 22px;
  background: -webkit-linear-gradient(#2ea54e, #14685e, rgb(76, 18, 145));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.poke_descrip {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 2vh;
}

.poke_weight {
  margin-top: 5vh;
}

@media only screen and (max-width: 580px) {
  .poke_descrip {
    font-size: smaller;
  }
  .poke_name {
    font-size: 14px;
    margin-top: 5vh;
  }
  .poke_avatar {
    width: 90%;
    margin-top: 1vh;
  }
  .poke_weight {
    margin-top: 4vh;
  }
}

@media only screen and (max-width: 1400px) {
  .type_poke_item {
    margin-top: -9vh;
  }
}

@media only screen and (max-width: 1400px) {
  .type_poke_item {
    margin-top: -8vh;
  }
}
